{% extends "layout.html" %} <!-- layout.html 'den inheritance yapıldı   -->

{% block body %}
<h3>Hakkımda</h3>
<hr>
Herkese merhaba.Ben Haluk Can Kasım.Cumhuriyet Üniversitesi Mekatronik Mühendisliği mezunuyum.
Developer Blog , programlama ve yazılım öğrenmek isteyen gençlere ve yazılımcılara faydalı olmak ,
aynı zamanda Türkiyede yazılımın ve eğitimin yükselmesi amacıyla kurulmuştur.
Şimdiye kadar elimden geldiğince proje yüklemeye çalıştım.
Bu blog'daki amacım Developer Blog  genel bir online web sayfasına dönüştürüp , Türkiye’nin dört bir yanına 
ücretsiz bir şekilde bilgi verebilmek.
<hr>
{% endblock  %}


