{% extends "layout.html" %} <!-- layout.html 'den inheritance yapıldı   -->

{% block body %}
<div class="jumbotron text-center">
    <h3>Developers Bloğuna Hoşgeldiniz</h3>
    <p>Bu blogta geliştiriciler olarak blog yazılarınızı paylaşabilirsiniz ve insanlara yardımcı olabilirsiniz. </p>
</div>

{% endblock  %}
 <!-- 
    Blocklar:
    Biz templatelarımızın içerisine değişik blocklar oluşturabiliriz ve
    başka bir template bu templatımızdan miras alırsa bu blocklarda
    yazılan değerler yerine kendi değerlerini ekleyebilir
-->

